{% extends "base.html" %}
{% block title %}Create Cloud-Init Instance{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Create new Cloud-Init instance:</h1>
<h1>Create Cloud-Init Configuration for VM {{ vm_id }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(class="input input-bordered w-full max-w-xs") }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="input input-bordered w-full max-w-xs") }}
    </div>
    <div>
        {{ form.ssh_key.label }}
        {{ form.ssh_key(class="textarea textarea-bordered w-full max-w-xs", rows=10, cols=40) }}
    </div>
    <div>
        {{ form.ip_address.label }}
        {{ form.ip_address(class="input input-bordered w-full max-w-xs") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}