{% extends "base.html" %}

{% block title %}Create VMs{% endblock %}

{% block content %}

<div class="breadcrumbs text-sm">
  <ul>
    <li><a href="{{ url_for('create') }}">Select Node</a></li>
    <li><a href="{{ url_for('iso') }}">Select ISO</a></li>
  </ul>
</div>

<h1>Criar VMs</h1>


<!-- lista nós do Proxmox -->

<form action="{{ url_for('iso') }}" method="post">
  {% if isos %}
  <select name="iso_name" class="select w-full max-w-xs">
    <option disabled selected>Pick Iso</option>
    {% for iso in isos %}
    <option value="{{ iso }}">{{ iso }}</option>
    {% endfor %}
  </select>
  {% endif %}

  <button type="submit" class="btn btn-primary">Next</button>
</form>

{% endblock %}
