{% extends "baseclean.html" %}

{% block title %}Campbell{% endblock %}

{% block content %}

<div class="hero bg-base-200 min-h-screen">
  
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="{{ url_for('static', filename='media/logo.svg') }}"
        alt="Logo" />
      <div>
        <h1 class="text-5xl font-bold">Campbell</h1>
        <p class="py-6">
          Quickly create cloud ready virtual machines with Campbell. 
          Campbell is a simple application that allows you to create virtual machines with cloud-init configurations.
        </p>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>

{% endblock %}
