{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Home Page!</h1>
<button class="btn btn-primary">Button</button>

{% if vms %}
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for vm in vms %}
      <tr>
        <th>{{ vm.name }}</th>
        {% if vm.status == "running" %}
        <td class="text-success">{{ vm.status }}</td>
        {% else %}
        <td class="text-warning">{{ vm.status }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <p>No virtual machines found.</p>
{% endif %}

{% endblock %}
