{% extends "base.html" %}
{% block title %}Creating VM{% endblock %}
{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div class="card bg-base-200 shadow-xl w-full max-w-4xl">
        <div class="card-body">
            <!-- Page Title -->
            <h1 id="creatingMessage" class="text-3xl font-bold mb-6 text-center">Creating VM, please wait...</h1>
            <div class="flex justify-center mb-6">
                <span id="loadingSpinner" class="loading loading-ring w-40 max-w-4xl"></span>
            </div>
            <!-- Status Message -->
            <p id="status" class="text-center text-gray-700" style="display: none;">Starting...</p>

            <!-- Start Button -->
            <div class="flex justify-center mt-4">
                <button class="btn btn-primary" id="startButton" style="display: none;" onclick="startVm()">Iniciar VM</button>
            </div>

            <!-- Action Buttons -->
            <div id="buttons" class="flex justify-center mt-4 space-x-4" style="display: none;">
                <button class="btn btn-outline btn-primary" id="cloudInitButton">Configurar Cloud-Init</button>
                <button class="btn btn-outline btn-secondary" id="mainMenuButton">Menu Principal</button>
            </div>
        </div>
    </div>
</div>

<script>
    function checkStatus() {
        fetch('/check_vm_status/{{ vm_node }}/{{ vm_id }}')
        .then(response => response.json())
        .then(data => {
            document.getElementById('status').textContent = 'VM Status: ' + data.status;
            if (data.status === 'running') {
                document.getElementById('creatingMessage').style.display = 'none';
                document.getElementById('status').style.display = 'block';
                document.getElementById('loadingSpinner').classList.add('text-success');
                document.getElementById('buttons').style.display = 'flex';
            } else {
                // Verifica novamente em 5 segundos
                setTimeout(checkStatus, 5000);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            document.getElementById('status').textContent = 'Erro ao verificar status';
            document.getElementById('status').style.display = 'block';
        });
    }

    function startVm() {
        fetch('/start_vm/{{ vm_node }}/{{ vm_id }}')
        .then(response => response.json())
        .then(data => {
            document.getElementById('status').textContent = 'Status da VM: ' + data.status;
            if (data.status === 'running') {
                alert('VM criada com sucesso!');
                window.location.href = '/';
            } else {
                setTimeout(checkStatus, 5000);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            document.getElementById('status').textContent = 'Erro ao verificar status';
        });
    }

    function showElements() {
        setTimeout(() => {
            document.getElementById('status').style.display = 'block';
            document.getElementById('startButton').style.display = 'inline-block';
        }, 15000);
    }

    // Configura o botão de Cloud-Init e o botão do menu principal após o DOM estar carregado
    document.addEventListener('DOMContentLoaded', function() {
        const vmId = {{ vm_id | tojson }};
        const vmNode = {{ vm_node | tojson }};

        document.getElementById('cloudInitButton').onclick = function() {
            const url = `/create/cloud-init?vm_id=${encodeURIComponent(vmId)}&vm_node=${encodeURIComponent(vmNode)}`;
            window.location.href = url;
        };

        document.getElementById('mainMenuButton').onclick = function() {
            window.location.href = '/';
        };

        showElements(); // Exibe elementos após o atraso
    });

    // Inicia a verificação de status
    checkStatus();
</script>
{% endblock %}
